
.bg-banner
{
    background: rgb(228,243,246);
    background: -moz-linear-gradient(90deg, white 0%, rgba(177,177,177,1) 49%, rgba(141,220,241,1) 100%);
    background: -webkit-linear-gradient(90deg, rgb(48, 192, 221) 0%, rgba(177,177,177,1) 49%, rgba(141,220,241,1) 100%);
    background: linear-gradient(90deg,  rgb(48, 192, 221) 0%, rgba(177,177,177,1) 49%, rgba(141,220,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4f3f6",endColorstr="#8ddcf1",GradientType=1);
}

.tituloMap {
    font-size: 1rem;
    
  }
  .logoMap {
    width: 6rem;

  }

  #datosTiendaMapa li{
    list-style-type:none; 
  }
  
  