.bg-banner
{
    background: rgb(228,243,246);
    background: -moz-linear-gradient(90deg, rgba(228,243,246,1) 0%, rgba(177,177,177,1) 49%, rgba(141,220,241,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(228,243,246,1) 0%, rgba(177,177,177,1) 49%, rgba(141,220,241,1) 100%);
    background: linear-gradient(90deg, rgba(228,243,246,1) 0%, rgba(177,177,177,1) 49%, rgba(141,220,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4f3f6",endColorstr="#8ddcf1",GradientType=1);
}

.tituloMap {
    font-size: 1rem;
    
  }
  .logoMap {
    width: 1.5rem;

  }
  
  