#bg-titulo
{
    background-image: url("../mg/logos/service.jpeg");
    
}

#resultados {
            
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 5px;
cursor: hand;
}
#rojo
{
color:red;
}
#inputBusqueda
{
width:100%;
}